image @IMAGE@sparse {
        android-sparse {
                image = "@IMAGE@"
        }
}

image @IMAGE@ {
        hdimage {
                partition-table-type = "gpt"
        }

        partition barebox {
                partition-type-uuid = "8DA63339-0007-60C0-C436-083AC8230908" # linux-reserved
                image = "@BAREBOX_BINARY@"
                size = 2M
                offset = 32K
                imageoffset = 32K
        }

        partition barebox-environment {
                align = 1M
                size = 1M
                partition-type-uuid = "barebox-env"
                # Fill with actual zeros.
                sparse = false
        }

        partition barebox-state {
                size = 1M
                partition-type-uuid = "barebox-state"
                # Fill with actual zeros.
                sparse = false
        }

        partition fit-A {
                partition-type-uuid = "8DA63339-0007-60C0-C436-083AC8230908" # linux-reserved
                size = 64M
                read-only = true
                image = "fitImage-ave-fit-image@IMAGE_MACHINE_SUFFIX@"
        }

        partition root-A {
                image = "@REFERENCE_ROOTFS_FULLNAME@"
                partition-type-uuid = "root-arm64"
                size = 2G
                read-only = true
        }

        partition fit-B {
                partition-type-uuid = "8DA63339-0007-60C0-C436-083AC8230908" # linux-reserved
                size = 64M
                read-only = true
        }

        partition root-B {
                size = 2G
                partition-type-uuid = "root-arm64"
                read-only = true
        }

        partition data {
                size = 100M
                # Linux partition, no auto mount
                partition-type-uuid = "7FFEC5C9-2D00-49B7-8941-3EA10A5586B7" # linux-reserved
        }
}
